/* 

RESETS 

*/

html body 
{
    color: #274e13;
    background: #d9ead3;
    font-family: sans-serif;
    text-align: center;
}
html body .img-block
{
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    height: auto;
}
a
{
    text-decoration: none;
}

/*

SKY

*/

#sky
{
    display: block;
    position: relative;
    background: #d2e3f4;
    padding: 200px 100px;
    border-bottom: 3px double #274e13;
}

html body .container.company-logo
{
    display: inline-block;
    position: relative;
    top: -290px;
}
html body .container.company-logo .company-name
{
    display: inline-block;
    position: relative;
    top: 155px;
}
html body .container.company-logo .company-name .script
{
    color: #274e13;
}
html body .container.company-logo:hover .company-name .script,
html body .container.company-logo .company-name:hover .script
{
    color: #6aa84f;
}
html body .container.company-logo:hover .company-name .title,
html body .container.company-logo .company-name:hover .title
{
    color: #274e13;
}
html body .container.company-logo:hover img,
html body .container.company-logo img:hover,
html body .container.company-logo a:hover img
{
    opacity: 0.75;
}

/*

FONTS

*/

html body .script
{
    display: block;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 320%;
    margin: 0 0 -15px -12px;
}
html body .title
{
    display: block;
    text-align: center;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    font-size: 550%;
    color: #6aa84f;
}

/*

RESPONSIVENESS

*/

@media(max-width:1399px)
{
    html body .container.company-logo
    {
        top: -250px;
    }
    html body .container.company-logo .company-name
    {
        top: 130px
    }
    html body .title
    {
        font-size: 480%;
    }
    html body .script
    {
        margin-left: -5px;
        font-size: 300%;
    }
}
@media(max-width:1199px)
{
    html body .container.company-logo
    {
        top: -210px;
    }
    html body .container.company-logo .company-name
    {
        top: 115px;
    }
    html body .title
    {
        font-size: 400%;
    }
    html body .script
    {
        margin-left: -15px;
        margin-bottom: -10px;
        font-size: 220%;
    }
}
@media(max-width:991px)
{
    html body .container.company-logo
    {
        top: -300px;
    }
    html body .container.company-logo .company-name
    {
        top: 0;
    }
}
@media(max-width:767px)
{
    
}
@media(max-width:575px)
{
    
}